<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>
    
    <form [formGroup]="form" (ngSubmit)="autenticar()">
      <div class="form-group">
        <input 
          type="email" 
          class="form-control" 
          placeholder="E-mail"
          formControlName="email"
        >
        <small *ngIf="form.get('email').valid && form.get('email').touched" class="form-text text-success">Ok</small>
        <small *ngIf="!form.get('email').valid && form.get('email').touched" class="form-text text-danger">E-mail inválido</small>
      </div>
      <div class="form-group">
        <input 
          type="password"
          class="form-control" 
          placeholder="Senha"
          formControlName="senha"
        >
        <small *ngIf="form.get('senha').valid && form.get('senha').touched" class="form-text text-success">Ok</small>
        <small *ngIf="!form.get('senha').valid && form.get('senha').touched" class="form-text text-danger">Senha inválida. Digite no minimo 6 caracteres</small>
      </div>
      <button type="submit" class="btn btn-primary btn-sm btn-block">Entrar</button>
    </form>
    <hr />

    <p *ngIf="erro" class="small text-danger text-center">O nome de usuário ou a senha estão incorretos. Verifique seu nome de usuário e senha e tente novamente.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta? <a href="#" (click)="exibirPainelCadastro()" class="card-link">Cadastre-se</a>
    </p> 
  </div>
</div>